* { 
  border: 1px solid black;
  }

  body {
    height: 100vh;
    border: 10px solid red;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

main {
    text-align: center;
    height: calc(100% - 108px);
}
